h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2.25rem;
    font-weight: 600;
}

.panda-bg-color {
    background-color: #fceae8;
}

.panda-btn-color {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    padding: 8px 25px;
}

span {
    font-size: 2rem;
}

/* Slider */
.slider span {
    color: #FF136F;
    font-weight: 600;
}

/* Categories */
.categories .categories-item img {
    width: 100px;
}